<img src="../../../../assets/Untitled design.jpg" alt="" width="200">
<div class="container ">
    <div class="form">
        <div class="row">
            <div class="col-12">
            <h1>Account information</h1>
            </div>
           
            <div class="col-lg-6">
                <h2>First Name </h2>
                
            </div>
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Enter First Name" >

            </div>

            <div class="col-lg-6">
                <h2>Second Name </h2>
                
            </div>
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Enter Second Name" >

            </div>

            <div class="col-lg-6">
                <h2>mail </h2>
                
            </div>
            <div class="col-6">
                <input type="email" class="form-control" placeholder="Enter email Name" >

            </div>

            <h1>Update Password</h1>

            <div class="col-lg-6">
                <h2> Password </h2>
                
            </div>
            <div class="col-6">
                <input type="password" class="form-control" placeholder="Enter password" >

            </div>

            <div class="col-lg-6">
                <h2>Re Enter Password </h2>
                
            </div>
            <div class="col-6">
                <input type="password" class="form-control" placeholder="Enter password" >

            </div>
            
        </div>
    </div>
</div>